<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Card Approved</title>
    <link rel="stylesheet" href="static/SendMoney.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="/chome"><img src="static/logo.png" alt="" class="logo2"></a></div>
            <ul>
                <li><a href="/chome">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                
            </ul>
        </div>
    </nav>
<br><br><br>
    <center><div class="container">
        <center>
        <br>
        <header>Congratulation! Your application for a Credit Card got approved!</header></center>
        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <header>Please check your Card information below:</header>
                    <span class="title">Account number: {{accno}}</span>
                    <span class="title">Credit Balance: {{cbalance}}</span>
                    <span class="title">Yearly rate: {{srate}}</span>
                    <span class="title">Cash Advance Fee: {{cafee}}</span>
                </div>
                
            </div>
        </form>
    </div>
    <button class="nextBtn">
        <a href="/chome">Go Home</a>
    </button>
    </center>
    <br><br>
    
</body>
<footer>
    <div class="footer-content">
        <h4>T Bank </h3>
        <p>"The Better Way To Bank"</p>
        
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2023 T Bank. </p>
    </div>
</footer>
</html>