<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open a Savings Account</title>
    <link rel="stylesheet" href="static/TransFunds.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="/chome"><img src="static/logo.png" alt="" class="logo2"></a></div>
            <ul>
                <li><a href="clientInt.html">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                
            </ul>
        </div>
    </nav>
<br><br><br>
    <center><div class="container">
        <center>
        <br>
        <header>Open a TPLUS Savings Account</header></center>
        <span class="title" style="color: rgb(214,30,30);">With the TPLUS Savings Account, you can earn a savings rate of up to 6.00%* for 5 months with:
            Regular Interest (1.50%) + Premium Period Interest (0.85% - 1.15%) + Package Interest Rate Boost (0.05% or 0.10%)+ Welcome Bonus Interest Rate* (2.25%)</span>
        <form action="savingsProc" method="POST">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Step-1: Choose Deposit Amount:</span>
<br>
                    <div class="fields">
                        
                        <div class="input-field">
                            <label>Amount ($):</label>
                            <input id="amount" type="number" placeholder="Enter Amount" name="amount" required>
                        </div>
                        
                        <br><br>
                        <span class="title">Provided Savings Rate: 6% (0.06)</span>

                        
                        
                    </div>
                    {{errmsg}}
                    <br><br>
                    
                    <button class="nextBtn">
                        <span class="btnText">Open Account</span>
                    </button>
                </div>
                
            </div>
        </form>
    </div></center>
    
</body>
<footer>
    <div class="footer-content">
        <ul class="socials">
            <li><a href="#"><i class="fa fa-solid fa-gear"></i></i></a></li>
            <li><a href="#"><i class="fa fa-sharp fa-solid fa-bell"></i></a></li>
            
        </ul>
        <h4>T Bank </h3>
        <p>"The Better Way To Bank"</p>
        
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2023 T Bank. </p>
    </div>
</footer>
</html>